.body0{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}

.body{
    background-image: url(/image/pexels.jpg);
}


.head{ 
     position: relative;
    left: 100px;
}


.colo{
    background-color: rgb(20, 86, 126);
}

.viewall1{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    position: absolute;
    /* float: right; */
    top: 370px;
    right: 60px;
   
}

.viewall2{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    position: absolute;
    top: 860px;
    right: 60px;
   
}

.viewall3{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    position: absolute;
    top: 1330px;
    right: 60px;
   
}

.viewall4{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    position: absolute;
    top: 1800px;
    right: 60px;
   
}

.foot0{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    left:300px;
    
}

.foot{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    left:10px;
}

.foot1{
    /* position: absolute;
    top: 2210px;
    left: 600px; */
    position: relative;
   bottom: 110px;
    left: 600px;
}
.foot2{
    position: relative;
    bottom: 85px;
    left: 382px;
    
}
.foot3{
    position: relative;
    bottom: 60px;
    left: 165px; 
    
}
.foot4{
    position: relative;
    bottom: 110px;
    /* right: 100px;  */
    left: 300px;
    
}
.foot5{
    position: relative;
    bottom: 85px;
    /* right: 100px;  */
    left: 142px;
    
    }

.foot6{
    position: relative;
    bottom: 60px;
    left: -45px; 
    
}


.hove:hover{
    color: rgb(98, 193, 142);
}

.hove1:hover{
    color: rgb(177, 40, 142);
}

.hove2:hover{
    color: rgb(65, 105, 190);
}

@media (max-width:1400px){
    .body0{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    
    }

    .head{
        position: relative;
        left: 140px;
    }

    .viewall1{
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 360px;
        right: 120px;
       
    }
    .viewall2{
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 1180px;
        right: 120px;
       
    }
    .viewall3{
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 2030px;
        right: 120px;
       
    }
    .viewall4{
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 2850px;
        right: 120px;
       
    }

   

    /* .foot1{
        top: 3570px;
        position: absolute;
        left: 600px; 
        
    }
    .foot2{
        position: absolute;
        top: 3600px;
        left: 600px; 
        
    }
    .foot3{
        position: absolute;
        top: 3630px;
        left: 600px; 
        
    }
    .foot4{
        position: absolute;
        top: 3570px;
        left: 900px; 
        
    }
    .foot5{
        position: absolute;
        top: 3600px;
        left: 900px;
        
        }
    
    .foot6{
        position: absolute;
        top: 3630px;
        left: 900px; 
        
    } */
    
}

@media  screen and (max-width:1200px) and (min-width:935px){
    .head{
        position: relative;
        left: 190px;
    }

    .viewall1{
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 370px;
        right: 160px;
       
    }
    .viewall2{
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 1190px;
        right: 160px;
       
    }
    .viewall3{
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 2020px;
        right: 160px;
       
    }
    .viewall4{
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 2840px;
        right: 160px;
       
    }

    .colo{
        background-color: rgb(20, 86, 126);
    }

   

    /* .foot1{
        position: absolute;
        top: 3545px;
        left: 550px; 
        
    }
    .foot2{
        position: absolute;
        top: 3570px;
        left: 550px; 
        
    }
    .foot3{
        position: absolute;
        top: 3600px;
        left: 550px; 
        
    }
    .foot4{
        position: absolute;
        top: 3545px;
        left: 780px; 
        
    }
    .foot5{
        position: absolute;
        top: 3570px;
        left: 780px; 
        
        }
    
    .foot6{
        position: absolute;
        top: 3600px;
        left: 780px;  
        
    } */

    
}

 @media  screen and (max-width:991px) and (min-width:768px){
    .foot0{
        position: relative;
        left: 180px;
    }

    .foot{
        position: relative;
        left: 10px;
    }

    /* .foot1{
        position: absolute;
        top: 3580px;
        left: 350px; 
        
    }
    .foot2{
        position: absolute;
        top: 3605px;
        left: 350px; 
        
    }
    .foot3{
        position: absolute;
        top: 3630px;
        left: 350px; 
        
    }
    .foot4{
        position: absolute;
        top: 3580px;
        left: 560px; 
        
    }
    .foot5{
        position: absolute;
        top: 3605px;
        
        left: 560px;
        
        }
    
    .foot6{
        position: absolute;
        top: 3630px;
        left: 560px; 
        
    }    */
 }

@media (max-width:767px){
    .body0{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    
    }

    .head{
        position: relative;
        left: 220px;

    }

    .viewall1{
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 370px;
        right: 190px;
       
    }
    .viewall2{
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 1900px;
        right: 190px;
       
    }
    .viewall3{
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 3430px;
        right: 190px;
       
    }
    .viewall4{
        margin: 5px;
        padding: 5px;
        position: absolute;
        top: 4900px;
        right: 190px;
       
    }

    .foot0{
        position: relative;
        left: 90px;
    }

    .foot{
        position: relative;
        left: 10px;
    }

    /* .foot1{
        position: absolute;
        top: 6220px;
        left: 250px; 
        
    }
    .foot2{
        position: absolute;
        top: 6250px;
        left: 250px; 
        
    }
    .foot3{
        position: absolute;
        top: 6280px;
        left: 250px; 
        
    }
    .foot4{
        position: absolute;
        top: 6220px;
        left: 450px; 
        
    }
    .foot5{
        position: absolute;
        top: 6250px;
        
        left: 450px;
        
        }
    
    .foot6{
        position: absolute;
        top: 6280px;
        left: 450px; 
        
    }    */
}